<template>
  <div class="about">
    <p>Japanese dictionary</p>
    <p>ABOUT</p>
  </div>
</template>

<script>
export default {
    name: "About"
}
</script>

<style scoped>
    .about  {
        background-color: #dbdbdb;
    }
</style>
