<template>
    <div class="home">
        <p>HOME</p>
    </div>
</template>

<script>
export default {
    name: "Home"

}
</script>

<style scoped>
    .home   {
        background-color: #dbdbdb;
    }
</style>