<template>
    <div id="translateDiv" class="translate_class">
        <h1>TRANSLATE</h1>

        <div class="searchSelector">
            <span>Source language: </span>
            <select id="selectionOfLanguage"  v-model="selected">
                <option id="selected_nothing" disabled value="">Please select one</option>
                <option id="selected_nothingsource_jap">From Japanese</option>
                <option id="selected_nothingsource_other">From other languages</option>
            </select>

            <span>Target language: </span>
            <select id="selectionOfTargetLanguage"  v-model="selectedTargetLang">
                <option>{{english}}</option>
                <option>{{french}}</option>
                <option>{{spanish}}</option>
                <option>{{slovak}}</option>
                <option>{{hungarian}}</option>
            </select>
        </div>   

        <br/>
        <div class="searchTextInput">
            <p>
                <input type="text" v-model="searchText" placeholder="searched word">
            </p>
            <br/>

            <button v-on:click="submitSearch">Search</button>
        </div>
  
        <div>
            <Entries v-bind:entryItems="entries"/>
        </div>
    </div>
    
</template>


<script>
// https://www.npmjs.com/package/@cospired/i18n-iso-languages

    import Vue from 'vue';
    import axios from 'axios';
    import Entries from '../components/Entries.vue';

    new Vue({
        data: {
            
        }
        
    })

    export default {

        name: "Translate",
        components: {
            Entries
        },

        data()  {

            return{
                selectedTargetLang: 'eng',
                selected: '',
                searchText: '',
                theurl: 'http://localhost:8081/',
                entries: [],
                postData:   {
                    text: "sumimasen",
                    langCode: "eng"
                },
                isDisabled: false,

                /*country codes: */
                english: 'eng',
                french: 'fra',
                spanish: 'spa',
                slovak: 'slo',
                hungarian: 'hun',

                languages: require("@cospired/i18n-iso-languages")

            }
        },
        methods:    {
            submitSearch: function()    {

                var thething = 'http://localhost:8081/dictionary/';

                if(this.selected === "From Japanese")    {

                    this.isDisabled = false;

                    this.postData.text = this.searchText;
                    this.postData.langCode = this.selectedTargetLang;

                    const {text, langCode} =  this.postData

                    thething = thething + 'from_nihongo/'

                    axios.post(thething, {
                        text,
                        langCode
                    })
                        .then( (res) => {this.entries = res.data;
                                        console.log(this.entries);
                                        })
                        .catch(err => console.log(err));

                }
                else if(this.selected === "From other languages")   {

                    this.isDisabled = true;
                    
                    thething = thething + "from_gaigo/" + this.searchText;
                    axios.get(thething)
                        .then( (res) => {this.entries = res.data;
                                        console.log(this.entries);
                                        })
                        .catch(err => console.log(err));
                    
                    
                }
            }
        }

    }

</script>

<style scoped>
    .translate_class    {
        background-color: #dbdbdb;
    }
</style>