<template>
    <div class=entriesClass>
        <div v-bind:key="entry.langCode + makeGUID()" v-for="entry in entryItems" > 
            <Entry v-bind:entryItem="entry"></Entry>
        </div>
    </div>
    
</template>

<script>
import Entry from './Entry.vue';
import Guid from 'guid';

    export default {
        name: 'Entries',
        props: ['entryItems'],
        components: {
            Entry
        },
        methods:    {
            makeGUID: function()    {
                return Guid.raw();
            }
        }
    }
</script>

<style scoped>

    .entriesClass   {
        background-color: #dbdbdb;
    }
</style>