<template>
    <div class="entry_div">
        <p>Kanji elements: <span>{{entryItem.kanjiElements}} </span></p>
        <p>Reading elements: <span>{{entryItem.readingElements}} </span></p>
        <p>Meanings: <span>{{entryItem.gaiGoMeanings}} </span></p>
        <p>Language: <span>{{entryItem.langCode}} </span></p>
        <p>====================================</p>
    </div>
</template>

<script>
    export default {
        name: 'Entry',
        props: ['entryItem']
    }
</script>

<style scoped>

</style>